<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<script src="Scripts/angular.min.js"></script>
<script src="Controller.js"></script>
<script src="Scripts/angular-route.min.js"></script>
<body ng-app="HTTPService">
    <input type="text" ng-model="searchBox" />
    <div ng-controller="people">
        <ul>
            <h2> Names and ages of people from JSON file</h2>
            <li ng-repeat="person in persons | filter: searchBox">
                {{person.Name + ' : ' + person.Age}}
            </li>

        </ul>

    </div>

</body>
</html>
